<!-- 
    Title: _header.ejs
    Author: Laurel Condon
    Date: 17 June 2023
    Description: header page for pets-r-us
-->

<div class="navbar">
    <a href="/views/index.ejs" id="nav-link">HOME</a>
    <a href="/views/grooming.ejs" id="nav-link">GROOMING</a>
    <a href="/views/training.ejs" id="nav-link">TRAINING</a>
    <a href="/views/boarding.ejs" id="nav-link">BOARDING</a>

</div>

