<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Customer List</title>
        </head>
<body>
<%- include('partials/_header.ejs') %>

<div id="container">
    <div class="card">
        <img src="../public/images/group-portrait-adorable-puppies.jpg" class="cust-img">
        <div class="card-title"><h2>Customer List</h2></div>
        <p> A list of our awesome and loyal customer base!</p>
    <% if(customer.length > 0) { %>
    <table class="table">
        <tr>
            <th>CustomerID</th>
            <th>Email</th>
        </tr>
        <tbody>
            <% customer.forEach(function(customer) { %>
            <tr>
                <td> <%= customer.customerId %> </td>
                <td> <%= customer.email %> </td>
            </tr>
        <% }) %>
        </tbody>
    </table>}
    <% } else { %>
    <h3>Customer have not been added to the MongoDB database. Try adding some!</h3>
    <% } %>
    </div>
</div>



</body>
<footer>
Photo Credit: <a href="https://www.freepik.com/free-photo/group-portrait-adorable-puppies_3532149.htm#query=dog&position=2&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik
</footer>

<%- include('partials/_footer.ejs') %>
</html>