<!-- 
    Title: index.ejs
    Author: Laurel Condon
    Date: 17 June 2023
    Description: index.ejs page for pets-r-us
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Home</title>
        </head>

<%- include("partials/_header.ejs") %>
<body>
    <div class="container">

    <div class="logoimg"><h1>Pets-R-Us</h1></div>
    <div class="card">
        <div class="card-title"><h2>About Us</h2></div>
        <div class="card-content">
            <p>     Welcome to our pet shop, a beloved establishment that has been serving our community for over two decades. We take great pride in providing exceptional care and services for all your furry, feathered, and scaly friends.
            </p>
            <p>     Our mission has always been to create a warm and welcoming environment for both pets and pet owners. We strive to provide personalized attention and guidance to ensure that every pet finds the right products and services for their unique needs. Our knowledgeable staff is here to assist you with any questions or concerns you may have, and we treat every customer like family.
            </p>
            <p class="txtone"> Now Serving you at four locations: La Vista, NE • Bellevue, NE • Lincoln, NE • Council Bluffs, IA</p>
            <hr/>
        </div>
    </div>
    <div class="card">
        <div class="card-title"><h2>Star of the Week</h2></div>
        <div class="card-content">
            <figure>
            <img src="/public/images/friendly-smart-basenji-dog-giving-his-paw-close-up-isolated-white.jpg" class="star-week">
           <figcaption>Star of the Week: Trixie for being a good girl!</figcaption>
        </figure>
        </div>
    </div>
    <hr/>
    <div class="card">
        <div class="card-title"><h2>Hours</h2></div>
        <div class="card-content">
            <ul>
                <li class="hours">Monday: 8:00am - 5:30pm</li>
                <li class="hours">Tuesday: 8:00am - 7:00pm</li>
                <li class="hours">Wednesday: 8:00am - 5:30</li>
                <li class="hours">Thursday: 8:00am - 7:00pm</li>
                <li class="hours">Friday: 8:00am - 4:00pm</li>
                <li class="hours">Saturday: 12:00pm - 5:30pm</li>
                <li class="hours">Sunday: CLOSED</li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="card">
        <div class="card-title"><h2>Testimonials</h2></div>
        <div class="card-content" id="testimonials">
            <p>"I cannot recommend this pet store and dog grooming business enough! The staff is incredibly knowledgeable, friendly, and genuinely cares about the well-being of my furry friend. Their wide range of high-quality pet products ensures that I can always find exactly what I need. And when it comes to grooming, they work wonders! My dog always comes back looking and feeling amazing." - Sarah W.</p><br>
            <p>"I've been a loyal customer of this pet store and dog grooming business for years, and they never cease to impress me. Their commitment to providing top-notch services is unparalleled. Whenever I walk into the store, I'm greeted with a smile, and the staff is always ready to assist me in finding the perfect products for my beloved pets." - Michael H </p><br>
            <p>"Finding a pet store and dog grooming business that goes above and beyond is rare, but I found exactly that with this amazing establishment. Their dedication to customer satisfaction is evident in every interaction. The groomers are skilled and patient, creating a stress-free experience for my furry companions. I appreciate the attention to detail and the personalized care they provide." - Emily R.
            </p>
        </div>
    </div>
    <hr/>
    <div class="card">
        <div class="card-title"><h2>Contact Us</h2></div>
        <div class="card-content">
            <form>      
                <input name="name" type="text" class="feedback-input" placeholder="Name" />   
                <input name="email" type="text" class="feedback-input" placeholder="Email" />
                <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
                <input type="submit" value="SUBMIT"/>
              </form>
        </div>
    </div>
    </div>
</body>
<footer>
    Photo Credits: <a href="https://www.freepik.com/free-photo/friendly-smart-basenji-dog-giving-his-paw-close-up-isolated-white_11829513.htm#query=happy%20dogs&position=29&from_view=search&track=ais">Image by bublikhaus</a> on Freepik
</footer>
<%- include('partials/_footer.ejs') %>
</html>